/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #004d99;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    text-align: center;
}

p {
    color: #000;
}

.highlight {
    background-color: #0e0c0c;
    color: #fff;
}

/* Header */
header {
    border-bottom: 2px solid #e0e0e0;
    background-image: url(bg3.jpg);
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #0056b3;
}

.btn-primary {
    background-color: #0056b3;
}

/* Main Section */
main {
    position: relative;
    padding: 50px 0;
}

.background-section {
    background-image: url('test_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Adjusted for clarity */
}

.background-section p {
    color: #000;
    font-weight: bold;
}

#mainCarousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main h2 {
    font-size: 32px;
}

main p {
    font-size: 18px;
}

/* Cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    border: 2px solid #0e0c0c;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.card-body {
    margin-top: auto;
}

.card-body h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Features Section */
.feature-section {
    padding: 30px;
    background-image: url('bg3.jpg');
}

.feature_h2 {
    color: #e0e0e0;
    font-weight: bold;
}

.feature-section .card {
    border-radius: 50px;
}

/* Engage Section */
.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

#engage-card-1, #engage-card-2, #engage-card-3 {
    background-size: cover;
    background-position: center;
    height: 400px;
}

#engage-card-1:hover h4, 
#engage-card-2:hover h4, 
#engage-card-3:hover h4 {
    opacity: 1;
}

#engage-card-1 { background-image: url('comment-bg.jpg'); }
#engage-card-2 { background-image: url('chat-bg.jpg'); }
#engage-card-3 { background-image: url('upload-bg.jpg'); }

/* Logo */
.logo-image {
    width: 100px;
    margin: 0 auto 10px;
    filter: invert(41%) sepia(61%) saturate(7470%) hue-rotate(212deg) brightness(95%) contrast(101%);
}

/* Call-to-Action Section */
.cta-section {
    background-image: url('bg3.jpg');
    text-align: center;
}

.cta-section h2, .cta-section p, .cta-section button {
    text-align: center;
    color: #fff;
}

/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-weight: bold;
}
